@model Dealership.Entities.ViewModels.CarsForSale.CarsForSaleDeleteViewModel

<div class="gy-5 gx-5">

    <div class="row my-3 text-center">

        <h2>Are You Sure the You Want to Delete This Car?</h2>
        <h3>@Model.Brand @Model.ModelName</h3>

    </div>

    <div class="row d-flex flex-column align-items-center my-3">

        <div id="carouselExampleControls" class="carousel slide w-50" data-ride="carousel">

            <div class="carousel-inner">
    
                @foreach(var picture in Model.CarPictures.Select((value, index) => new {index, value}))
                {
                            @if(picture.index == 0)
                            {
                                <div class="carousel-item active">
                                    <img src="~/@picture.value.SlidePath" class="rounded img-fluid d-block w-100"/>
                                </div>
                            }
                            else
                            {
                                 <div class="carousel-item">
                                    <img src="~/@picture.value.SlidePath" class="rounded img-fluid d-block w-100"/>
                                </div>
                            }
                }
    
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

        </div>
    

    </div>

    <div class="d-flex justify-content-center">

        <form asp-action="Delete">

        <input type="hidden" asp-for="Id" />

        <input type="submit" value="Delete" class="btn btn-outline-danger" />

        </form>

    </div>

</div>